@model IEnumerable<SearchEngineTask.Database.DbModels.SearchResult>

@{
    ViewBag.Title = "SeachResults";
}

<h2>Seach results from DB</h2>

<table class="table">
    <tr>
        <th>
            Search text -> @ViewBag.Seachtext
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h3><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </td>
        </tr>
    }
</table>